/* * * * * * * * *  financia.css  * * * * * * * * */

/*                                   USED COLORS
 - - - - - - - - - - - - - - - - - - - - - - - -
                    Main Red:     #C7503E
                       Links:     #F0F0F0
                 Links hover:     #303030

*/


/*                             FONTS
 - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: PoorRich;
  src: url( ../fonts/PoorRich.ttf );
}

@font-face {
  font-family: Taffy;
  src: url( ../fonts/Taffy.ttf );
}

@font-face {
  font-family: Candara;
  src: url( ../fonts/Candara.ttf );
}


/*                           GENERAL
 - - - - - - - - - - - - - - - - - - */
a {
  outline: none;
  text-decoration: none;
}

body {
  background: transparent no-repeat fixed center url( ../images/icons/financiaWaterMark.png );
}

/*                            HEADER
 - - - - - - - - - - - - - - - - - - */
header {
  height: 50px;
}

header nav {
  background: #C7503E;
  color: #FFF;
  height: 50px;
}

.headerLogo {
  margin-top: -7px;
  font-family: PoorRich;
  font-size: 42px;
}

.headerLogo a {
  display: block;
  outline: none;
  color: #FFF;
  text-decoration: none;
}

.headerLogo img {
  margin-top: -11px;
  margin-right: 10px;
  width: 42px;
  height: 42px;
}

.headerMenu {
  margin-top: 6px;
}

.headerMenu ul li {
  border-radius: 5px;
  float: left;
  clear: right;
  list-style: none;
  padding: 0px 20px;
  
  font-family: Taffy;
  font-size: 26px;
}

.headerMenu a {
  color: #FFF;
  text-decoration: none;
}

.headerMenu ul li:hover {
  background: #e3715f;
  cursor: pointer;
}

.headerMenu ul li:active {
  background: #e0624e;
}


/*                         MAIN MENU
 - - - - - - - - - - - - - - - - - - */
.main {
  margin-top: 50px;
  padding: 5em 0;
}

.firstSquare, .secondSquare {
  margin-top: 5em;
  height: 20em;
}

.thirdSquare, .fourthSquare, .fifthSquare {
  margin: 5em 0;
  height: 15em;
}

.firstSquare {
  background: #C7503E;
}

.secondSquare {
  background: #C7503E;
}

.thirdSquare {
  background: #C7503E;
}

.fourthSquare {
  background: #C7503E;
}

.fifthSquare {
  background: #C7503E;
}


/*                            FOOTER
 - - - - - - - - - - - - - - - - - - */
footer {
  background-color: #F0F0F0;
  bottom: 0px;
  margin: 0px -18px;
  position: absolute;
  width: 100%;
  height: 30px;
}

footer .row {
  margin: 0px;
  height: 30px;
}

.footerOptions a {
  padding: 0px 10px;
  color: #606060;
  font-family: Candara;
  font-size: 20px;
  text-decoration: none;
}

.footerOptions a:hover {
  color: #303030;
}